@import url(font.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #333;
    font-family: 'Pretendard';
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 40px;
}

/* community-title */
.community {
    width: 100%;
}

.community-title {
    width: 100%;
    height: 500px;
    background-image: url('/assets/images/community-title.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-title h2 {
    font-size: 48px;
    font-family: 'Noto Serif SC';
}


/* faq */
.community-faq-title {
    font-family: 'Noto Serif SC';
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 140px 0 30px;
    position: relative;
}

.community-faq-title img {
    position: absolute;
    top: 0;
    left: -1.5%;
}

.community-faq-title span {
    font-size: 64px;
}

.community-faq-title h3 {
    font-size: 36px;
}


.topic:nth-of-type(1) {
    border-top: 3px solid #333;
}

.topic{
    border-bottom: solid 1px #333;
}

.open{
    padding:40px;
    position: relative;
    cursor:pointer;
    display:block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: #333;
}
.open:hover{
  opacity:0.7;
}
.question-q, .question-categ, .answer-a {
    font-family: 'Noto Serif SC';
}
.question-q, .answer-a {
    font-size: 60px;
}
.question-categ {
    font-size: 24px;
}
.expanded{
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.question{
    font-size: 20px;
    font-weight:400;
    padding-top: 10px;
}
.answer{
    position: relative;
    display:none;
    padding:30px 40px 0 40px;
    height: 200px;
    text-align:justify;
    padding-right:200px;
    background-color:#EAE2D6;
}
.answer p {
    font-size:20px;
    position: absolute;
    top: 30%;
    right: 0;
    padding: 0 100px 40px 200px;
}
.faq-t{
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    top:50%;
    right:1%;
    width: 10px;
    height: 10px;
    background: transparent;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    transition: all 0.3s ease-in-out;
}
.faq-o{
    -moz-transform: rotate(-224deg);
    -ms-transform: rotate(-224deg);
    -webkit-transform: rotate(-224deg);
    transform: rotate(-224deg);
}

.pager {
    margin-top: 70px;
}
.pagination {
    text-align: center;
    margin: 0;
    padding: 0;
}

.pagination li {
        display: inline;
        margin: 0 2px;
        padding: 0;
        display: inline-block;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        text-align: center;
        position: relative;
}

.pagination li a {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: #333;
    background-color: #EDEDED;
    text-decoration: none;
}

.pagination li a span {
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
}
    
.pagination li a:hover,
.pagination li a.active,
.pagination li.pre a:hover,
.pagination li.next a:hover {
    color: #fff;
    background: #3B5C4D;
}

.pagination li.pre a {
    color: #333;
    background-color: transparent;
}

.pagination li.next a {
    color: #333;
    background-color: transparent;
}




/* community-support */
.community-support-title {
    font-family: 'Noto Serif SC';
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 140px 0 30px;
    position: relative;
}

.community-support-title img {
    position: absolute;
    top: 0;
    left: -1.5%;
}

.community-support-title span {
    font-size: 64px;
}

.community-support-title h3 {
    font-size: 36px;
}

.community-support-wrap {
    background-image: url('/assets/images/support-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 75px;
    height: 730px;
}

.community-support-desc p {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 20px;
}
.community-support-desc br {
    display: none;
}

.community-support-desc h3 {
    font-family: 'Noto Serif SC';
    font-size: 48px;
}

.community-support-btn a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    padding: 13px 15px;
    border: 1px solid #fff;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
}
.community-support-btn a:hover {
    background-color: #fff;
    color: #333;
}

@media (max-width: 1024px){
    .community-title h2 {
        font-size: 36px;
    }
    
    /* faq  */
    .open {
        padding: 30px;
    }
    .question-q, .answer-a {
        font-size: 40px;
    }
    .question-categ {
        font-size: 20px;
    }
    .question {
        font-size: 16px;
    }
    .answer p {
        font-size: 16px;
    }
    .pagination li {
        width: 40px;
        height: 40px;
    }

    /* support */
    .community-support-desc p {
        font-size: 16px;
    }
    .community-support-desc h3 {
        font-size: 40px;
    }
}
@media (max-width: 768px){
    .container {
        padding: 0 20px;
    }
    .community-title h2 {
        font-size: 32px;
    }
    
    /* faq  */
    .community-faq-title {
        margin: 70px 0 30px;
    }
    .open {
        padding: 20px;
    }
    .question-q, .answer-a {
        font-size: 32px;
    }
    .question-categ {
        font-size: 16px;
    }
    .question {
        font-size: 12px;
    }
    .answer {
        height: 150px;
    }
    .answer p {
        font-size: 12px;
        padding-left: 150px;
        top: 20%;
    }
    .pagination li {
        width: 25px;
        height: 25px;
    }
    .pagination li a span {
        font-size: 12px;
    }

    /* support */
    .community-support-wrap {
        gap: 50px;
        height: 500px;
    }
    .community-support-title {
        margin: 100px 0 30px;
    }
    .community-support-desc p {
        font-size: 12px;
    }
    .community-support-desc h3 {
        font-size: 32px;
    }
    .community-support-btn a {
        font-size: 16px;
    }
}
@media (max-width: 500px){
    
    /* faq  */
    .answer {
        height: 180px;
    }
    .answer p {
        padding-right: 30px;
        padding-left: 80px;
    }

    /* support */
    .community-support-desc p {
        line-height: 1.4;
    }
    .community-support-desc br {
        display: block;
    }
    .community-support-desc h3 {
        font-size: 24px;
    }
    .community-support-btn a {
        font-size: 14px;
        padding: 10px 12px;
        margin: 0px 4px;
    }
}