@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('../font/notosans.woff2') format('woff2');

}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400 900;
    font-display: swap;
    src: url('../font/Playfair-Display.woff2') format('woff2');
}

@font-face {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400 900;
    font-display: swap;
    src: url('../font/Playfair-Display-italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 100 900;
    font-stretch: 100%;
    font-display: swap;
    src: url('../font/Noto-Serif.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100%;
    font-family: 'Noto Sans KR';
}

body.no-scroll {
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: inherit;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.header-container {
    margin: auto;
    padding: 1rem 2rem;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container h1 a {
    display: flex;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #3B5C4D;
    align-items: flex-end;
}

.header-container p {
    font-size: 24px;
    color: #3B5C4D;
}

.header-menu {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-nav.on {
    display: block;
}

.header-menu li {
    list-style: none;
}

.header-menu li a {
    font-family: 'Playfair Display';
    font-style: 600;
    text-decoration: none;
    color: #3B5C4D;
}

.header-menu li a:hover {
    color: #A78D7D;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-banner {
    background-image: url('../images/communitybg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

/* 지도와 정보를 감싸는 메인 컨테이너 */
.contact-section {
    width: 100%;
    max-width: 1400px;
    /* 헤더와 동일한 최대 너비 사용 */
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.contact-info-container {
    flex-basis: 40%;
    flex-shrink: 0;
}

/* 우측 지도 영역 컨테이너 */
.map-container {
    flex-basis: 60%;
    max-height: 500px;
}

/* Address 제목 스타일 */
.contact-section h2 {
    font-family: 'Noto Serif';
    font-weight: 400;
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
}

/* 오시는 길 제목 스타일 */
.address-details h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/* 주소 및 지하철 설명 스타일 */
.address-desc,
.subway-desc {
    font-size: 15px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 5px;
}

/* --- 길찾기 버튼 스타일 --- */
.button-group {
    display: flex;
    gap: 10px;
    margin: 25px 0 40px;
}

.button-group button {
    padding: 20px 40px 20px 40px;
    border: 1px solid #333;
    background-color: #fff;
}

.button-group button a {
    font-size: 18px;
}

.map-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #3B5C4D;
    border-radius: 5px;
    background-color: #fff;
    color: #3B5C4D;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s;
}

.map-btn:hover {
    background-color: #3B5C4D;
    color: #fff;
}

/* --- 운영 시간 스타일 --- */
.time-info .time-desc {
    font-size: 15px;
    line-height: 1.8;
}

.time-info .time-desc span {
    display: inline-block;
    width: 60px;
    /* "평 일", "주 말", "점심시간"의 너비 통일 */
    font-weight: 500;
    color: #333;
    margin-right: 10px;
}

.hero-text h2 {
    font-family: 'Noto Serif';
    font-weight: 400;
    justify-content: center;
    font-size: 45px;
    padding-top: 50px;
    color: #333;
}


footer {
    width: 100%;
    height: auto;
    padding: 40px 0;
    background-color: #3B5C4D;
    color: #fff;
    font-family: 'Noto-Serif';
    font-style: normal;
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 80px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* 정보 항목 간격 조정 */
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto-serif';
    font-style: normal;
}

.footer-info {
    display: flex;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    align-items: flex-end;
}

.footer-info a {
    font-size: 40px;
    color: #fff;
}

.add {
    font-family: 'Noto-serif';
    font-weight: 400;
    gap: 10px;
    font-size: 18px;
}

.footer-info a b {
    font-size: 24px;
    font-weight: 300;
}

.footer-info h3 {
    font-weight: 500;
    font-size: 30px;
}

.footer-info p {
    font-family: 'Noto-serif';
    font-size: 24px;
    color: #fff;
    margin-left: 5px;
}

.info {
    display: flex;
    font-family: 'Noto-serif';
    font-weight: 400;
    gap: 10px;
    font-size: 18px;
}

.footer-logo {
    width: 67px;
    align-items: flex-start;
    height: auto;
    object-fit: contain;
}

.copyright {
    margin-top: 20px;
    font-family: 'Noto-serif';
    font-size: 15px;
    opacity: 0.8;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 120px;
    flex-shrink: 0;
    gap: 20px;
    margin-top: 0;
}

.sns-sec {
    display: flex;
    gap: 15px;
}

.sns-sec img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1);
    /* 아이콘이 흰색으로 보이게 필터 적용 */
}

/* 약관 메뉴 목록 */
.footer-right ul {
    display: flex;
    /* 항목을 가로로 배치 */
    gap: 15px;
    /* 항목 사이 간격 */
    font-size: 14px;
}

.footer-right li {
    list-style: none;
    color: #fff;
    opacity: 0.8;
    font-size: 15px;
    cursor: pointer;
}

.footer-right li:hover {
    text-decoration: underline;
}


/* ✅ 태블릿 메뉴 반응형 */
@media (max-width: 1024px) {

    .header {
        width: 100%;
    }

    .header-container {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container h1 a {
        font-size: 40px;
        font-weight: 300;
    }

    .header-container.on {
        background: #ffffffe3;
        transition: 0.3s;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: auto;
        background: #ffffffe3;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        text-align: center;
    }

    .header-nav.on {
        display: flex;
        flex-direction: column;
    }

    .header-nav.active {
        display: flex;
    }

    .header-menu {
        flex-direction: column;
        gap: 50px;
    }

    .header-menu {
        font-size: 25px;
    }

    .hamburger-btn {
        display: block;
    }

    .address-desc,
    .subway-desc {
        font-size: 13px;
    }

    .button-group {
        flex-direction: column;
    }

    .hero-text h2 {
        font-size: 36px;
    }

    .footer-info a {
        font-size: 36px;
    }

    .add {
        font-size: 15px;
    }

    .footer-info a b {
        font-size: 22px;
        font-weight: 300;
    }

    .footer-info p {
        font-size: 15px;
    }

    .info {
        font-size: 15px;
    }

}

/* ✅ 모바일 메뉴 반응형 */
@media (max-width: 768px) {
    .header {
        width: 100%;
    }

    .header-container {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-container h1 a {
        font-size: 40px;
        font-weight: 300;
    }

    .header-container.on {
        background: #ffffffe3;
        transition: 0.3s;
    }

    .header-nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: auto;
        background: #ffffffe3;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        text-align: center;
    }

    .header-nav.on {
        display: flex;
        flex-direction: column;
    }

    .header-nav.active {
        display: flex;
    }

    .header-menu {
        flex-direction: column;
        gap: 50px;
    }

    .header-menu {
        font-size: 25px;
    }

    .hamburger-btn {
        display: block;
    }

    .contact-section {
        flex-direction: column;
        /* 가로(row) -> 세로(column) 정렬로 변경 */
        padding: 40px 20px;
        /* 상하 패딩 줄이고, 좌우 패딩 모바일에 맞게 조정 */
        gap: 40px;
        /* 정보와 지도 사이의 세로 간격 */
    }

    /* 2. 정보 컨테이너와 지도 컨테이너가 100% 너비를 사용하도록 설정 */
    .contact-info-container,
    .root_daum_roughmap {
        flex-basis: auto;
        /* 고정된 비율 대신 콘텐츠에 맞게 설정 */
        width: 100%;
        /* 너비를 100%로 설정하여 가로 영역을 모두 차지하도록 함 */
    }

    /* 3. 지도 높이 조정 (모바일에서 너무 길지 않도록) */
    .root_daum_roughmap {
        height: 300px !important;
        /* 지도의 높이를 명시적으로 설정 */
    }

    /* 4. 길찾기 버튼 그룹 정렬 (필요하다면 중앙/왼쪽 정렬) */
    .button-group {
        justify-content: center;
        /* 버튼을 중앙에 배치하고 싶다면 */
        /* justify-content: flex-start;  // 버튼을 왼쪽에 배치하고 싶다면 */

        /* 버튼이 세로로 떨어지도록 하려면 button-group에 flex-wrap: wrap; 또는 flex-direction: column; 적용 */
        /* 이미지처럼 가로로 배치되게 두겠습니다. */
    }

    /* 5. Address 제목과 오시는 길 제목 크기 조정 */
    .contact-section h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    .address-details h3 {
        font-size: 18px;
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        gap: 5px;
        /* 정보 항목 간격 조정 */
        font-size: 14px;
        line-height: 1.5;
        font-family: 'Noto-serif';
        font-style: normal;
        width: 100%;
    }

    .footer-info p {
        font-size: 13px;
    }

    .info {
        font-size: 13px;
        gap: 5px;
    }

    .footer-right li {
        list-style: none;
        color: #fff;
        opacity: 0.8;
        font-size: 11px;
        cursor: pointer;
    }

}