@charset "utf-8";
@import url(./font.css);



/* 공통영역 */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.6;
	letter-spacing: -.5px;
	word-break: keep-all;
}

:root {
	--color-primary: #3B5C4D;
	--color-text: #333;
	--color-dark: #111;
	--color-subtext: #777;
	--color-white: #fff;
	--color-border: #ddd;

	--color-bg: #f6f6f6;
	--color-beigebg: #EAE2D6;

	--color-dimbg-soft: rgba(0 0 0 / 15%);
	--color-dimbg: rgba(0 0 0 / 25%);
	--color-dimbg-deep: rgba(0 0 0 / 50%);

	--color-lightbg: rgba(255 255 255 / 50%);

	--transition-1s: .1s ease;
	--transition-3s: .3s ease;
	--transition-5s: .5s ease;
	--transition-10s: 1s ease;

	--snb-height: 500px;

	--base-font: "Pretendard Variable", Pretendard, -apple-system, 'Outfit', BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

	--key-font: "Noto Serif", "Noto Serif KR", serif;
}


.w1200 {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.w1500 {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.w1600 {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.hidden {
	display: none;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* 화면 꽉 채우기, 비율 유지 */
	object-position: center top;
	/* 보이는 영역 기준 위치 */
}


/* privacy */
.privacy {
	color: var(--color-subtext);
	width: 100%;
	overflow: hidden;
	padding: 20px;
	font-size: 15px;
	word-break: break-all;
}

.privacy h2 {
	font-size: 18px;
	font-weight: bold;
	color: var(--color-dark);
	text-align: left;
	margin: 50px 0 30px;
}

.privacy h2:first-child {
	margin-top: 0;
}

.privacy>p {
	margin: 15px 0;
}

.privacy>p+dl {
	margin-top: 30px;
}

.privacy>dl {
	padding-bottom: 20px;
}

.privacy>dl>dt {
	font-size: 15px;
	color: var(--color-primary);
	font-weight: 700;
	padding-bottom: 5px;
}

.privacy>dl>dd {
	padding-bottom: 10px;
	text-align: justify;
	font-size: 15px;
}

.privacy>dl>dd ul {
	padding: 10px;
}

.privacy>dl>dd ul li {
	margin-top: 10px;
}

.privacy>dl>dd ul li:first-child {
	margin-top: 0;
}

.privacy>dl>dd ul li p {
	margin: 0 10px 5px;
}

.sTxt h3 {
	font-size: 16px;
	color: var(--color-text);
	font-weight: 700;
	margin: 20px 0 10px;
}

.sTxt p {
	margin-top: 10px;
}

.sTxt dt {
	margin-top: 10px;
}

.sTxt dd {
	margin: 0 8px;
}

/****** 1. 헤더 영역 ******/
.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	/* padding: 0 100px; */
	z-index: 500;
	background-color: var(--color-white);
	/* background: linear-gradient(to top, rgba(255 255 255 / 10%) 0%, rgba(255 255 255 / 20%) 100%); */
	backdrop-filter: blur(5px);
	border-bottom: 1px solid rgba(255 255 255 / 20%);
	box-shadow: 0 0 5px 2px rgba(0 0 0 / 5%);
	box-shadow: 0 4px 20px rgba(0 0 0 / 5%);
}

.header::after {
	content: '';
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--color-white);
	opacity: 0.3;
	z-index: -1;
	opacity: 0;
}

.header::before,
.header .bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 379px;
	background-color: var(--color-white);
	opacity: 0.8;
	z-index: -1;
}

.header::before {
	content: '';
	display: block;
	height: 95px;
	opacity: 0;
	transition: var(--transition-3s);
}

.header .logo {
	position: relative;
	/* width: 153px;
	height: 27px; */
	/* background: url(../images/common/logo.png) 50% 50% no-repeat; */
	z-index: 20;
}

.header .logo a {
	/* position: absolute; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.header .gnb {
	width: calc(100% - 263px);
}

.header .gnb>ul {
	display: flex;
	justify-content: flex-end;
}

.header .gnb>ul>li {
	position: relative;
}

.header .gnb>ul>li>a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 95px;
	/* font-weight: 500; */
	font-size: 18px;
	color: var(--color-text);
	padding: 0 50px;
	transition: var(--transition-3s);
	font-family: var(--key-font);
}

.header .gnb>ul>li>a::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 3px;
	background-color: var(--color-primary);
	transition: var(--transition-3s);
	transform: translateX(-50%);
}

.header .gnb>ul>li>ul {
	display: none;
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%;
	padding: 37px 0;
	z-index: 10;
	overflow: hidden;
	height: 284px;
}

.header .gnb>ul>li:first-of-type>ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 284px !important;
	background-color: var(--color-white);
	opacity: 0.3;
}

.header .gnb>ul>li>ul::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 284px !important;
	background-color: var(--color-white);
	opacity: 0.3;
}

.header .gnb>ul>li>ul>li {}

.header .gnb>ul>li>ul>li>a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	color: var(--color-white);
	opacity: 0.8;
	padding: 7px 0;
}

.header .gnb>ul>li>ul>li:hover>a {
	color: var(--color-primary);
	opacity: 1;
}

.header .header_ui {
	width: 110px;
	display: none;
}

.header .header_ui .lang {
	position: relative;
	z-index: 20;
}

.header .header_ui .lang>li {
	position: relative;
	cursor: pointer;
}

.header .header_ui .lang li img {
	vertical-align: middle;
	margin-right: 8px;
}

.header .header_ui .lang li span {
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	color: var(--color-white);
	vertical-align: middle;
}

.header .header_ui .lang li span i {
	vertical-align: middle;
	font-size: 15px;
}

.header .header_ui .lang li ul {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	background-color: var(--color-white);
	width: 100%;
	border-radius: 5px;
	padding: 12px 0;
}

.header .header_ui .lang li ul li {}

.header .header_ui .lang li ul li a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	font-size: 13px;
	color: var(--color-dark);
	opacity: 0.7;
}

.header .header_ui .m_btn {
	display: none;
	position: relative;
	width: 27px;
	height: 27px;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.header .header_ui .m_btn span {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 27px;
	height: 3px;
	background-color: var(--color-primary);
	margin-top: 12px;
	transition: var(--transition-3s);
}

.header .header_ui .m_btn span::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: -8px;
	left: 0;
	width: 27px;
	height: 3px;
	background-color: var(--color-primary);
	transition: var(--transition-3s);
}

.header .header_ui .m_btn span::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 8px;
	left: 0;
	width: 16px;
	height: 3px;
	background-color: var(--color-primary);
	transition: var(--transition-3s);
}

.header .header_ui .m_gnb {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	/* max-width: 640px; */
	height: 100%;
	background-color: var(--color-dimbg);
	background-color: var(--color-bg);
	transition: var(--transition-5s);
	/* z-index: 99; */
}

.header .header_ui .m_gnb>ul {
	margin-top: 85px;
}

.header .header_ui .m_gnb>ul>li {}

.header .header_ui .m_gnb>ul>li>a {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
	font-size: 28px;
	color: var(--color-subtext);
	padding: 18px 56px;
	position: relative;
	font-family: var(--key-font);
}

.header .header_ui .m_gnb>ul>li>a:after {
	content: '';
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	/* background-image: url("../images/common/gnb_off_arrow.svg"); */
	transform: rotate(90deg);
	transition: var(--transition-1s);
}


.header .header_ui .m_gnb>ul>li>a.on {
	color: var(--color-primary);
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.header .header_ui .m_gnb>ul>li>a.on:after {
	background-image: url("../images/common/gnb_on_arrow.svg");
	transform: rotate(-90deg);
	transform: rotate(-360deg);
}


.header .header_ui .m_gnb>ul>li>ul {
	display: none;
	margin: 5px 0 14px;
}

.header .header_ui .m_gnb>ul>li>ul>li {}

.header .header_ui .m_gnb>ul>li>ul>li>a {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 8px 56px;
	font-weight: 300;
	font-size: 18px;
	color: var(--color-white);
}

.header .gnb>ul>li:hover>a::after {
	width: 100%;
	width: calc(100% - 90px);
}

.header .gnb>ul>li:hover>a {
	color: var(--color-primary);
	font-weight: 600;

}

.header.hover::after {
	opacity: 0.3;
}

.header.hover .gnb>ul>li>a {
	padding: 0 50px;
}

.header.hover .gnb>ul>li:first-of-type>ul::before,
.header.hover .gnb>ul>li>ul::after {
	opacity: 0.3;
	height: 284px;
}

.header.scroll::before {
	opacity: 0.8;
}

.header.scroll .bg {
	top: 95px;
	height: 284px;
}

.header .header_ui .m_btn.on span {
	background: transparent;
}

.header .header_ui .m_btn.on span::before {
	width: 27px;
	top: 0;
	transform: rotate(45deg);
}

.header .header_ui .m_btn.on span::after {
	top: 0;
	transform: rotate(-45deg);
}

.header .header_ui .m_gnb.on {
	right: -50%;
	right: 0;
}

.header-wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}




/****** 2. 풋터 영역 ******/


.footer {
	position: relative;
	background-color: var(--color-primary);
}

.footer .top {
	position: relative;
	display: flex;
	gap: 100px;
	padding: 50px 0;
	align-items: center;
	justify-content: space-between;
}

.footer .top .f_logo {
	/* width: 235px;
	height: 40px;
	background: url(../images/common/f_logo.png) 50% 50% no-repeat;
	margin-right: 177px; */
}

.foot-wrap {
	display: flex;
	gap: 100px;
}

.foot-wrap li {
	letter-spacing: 0;
}

.foot-wrap address {
	letter-spacing: 0;
}

.family-wrap {}

.sns-box {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 10px;
}

.sns-box img {
	width: 35px;
}

.footer .top .addr {}

.footer .top .addr h3 {
	font-weight: 600;
	font-size: 20px;
	color: var(--color-dark);
	margin-bottom: 20px;
}

.footer .top .addr ul {
	display: flex;
	margin-bottom: 15px;
}

.footer .top .addr ul:last-of-type {
	margin-bottom: 0;
}

.footer .top .addr ul li {
	font-weight: 200;
	font-size: 16px;
	color: var(--color-white);
	margin-right: 40px;
	font-family: var(--key-font);
}

.footer .top .addr ul li b {}

.footer .top .addr ul li:last-of-type {
	margin-right: 0;
}

.footer .top_btn {
	position: fixed;
	bottom: 26px;
	right: 20px;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid var(--color-primary);
	background-color: var(--color-white);
	background-image: url(../images/common/top_arrow.png);
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 999;
	opacity: 0;
	transition: var(--transition-3s);
	box-shadow: 0 0 5px 2px var(--color-dimbg);
}

.footer .top_btn:hover {
	background-color: var(--color-primary);
	background-image: url(../images/common/top_arrow_w.png);
}

.footer .top_btn.show {
	opacity: 1;
}

.footer .top_btn img {
	margin: 15px 0;
}

.footer .top .family {
	width: 200px;
	height: 45px;
	border: 1px solid var(--color-border);
	background-color: var(--color-bg);
	border-radius: 5px;
	position: relative;
}

.footer .top .family>div {
	font-weight: 500;
	font-size: 16px;
	color: var(--color-dark);
	cursor: pointer;
	font-family: var(--key-font);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

.footer .top .family>div span {
	font-size: 30px;
	transform-origin: center center;
	/* 중앙 기준 회전 */
	display: inline-block;
	/* 꼭 필요 */
	transition: var(--transition-3s);
}

/* .footer .top .family>div:hover span, */
.footer .top .family>div span.on {
	transform: rotate(180deg) scale(1.1);
	color: var(--color-primary)
}


.footer .top .family ul {
	display: none;
	position: absolute;
	bottom: 48px;
	left: 0;
	width: 100%;
	border-radius: 5px;
	border: 1px solid var(--color-border);
	background-color: var(--color-bg);
	padding: 10px 0;
}

.footer .top .family ul li {
	padding: 7px 0;
}

.footer .top .family ul li a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	color: var(--color-dark);
	font-size: 15px;
	padding: 4px 16px;
}

.footer .top .family ul li a:hover {
	color: var(--color-primary);
	text-decoration: underline;
	text-underline-offset: 5px;
}

.footer .copy {
	background-color: var(--color-dark);
	text-align: center;
}

.footer .copy p {
	font-weight: 200;
	font-size: 14px;
	color: var(--color-lightbg);
	letter-spacing: .5px;
	padding: 20px 16px;
}

@media (max-width: 1600px) {
	.w1600 {
		padding: 0 40px;
	}

	.header {
		/* padding: 0 40px; */
	}

	.header .gnb>ul>li>a {
		padding: 0 30px;
	}

	.header.hover .gnb>ul>li>a {
		padding: 0 30px;
	}

	.header .gnb>ul>li:hover>a::after {
		width: calc(100% - 60px);
	}

	.footer .top {
		padding: 50px 40px;
		gap: 0;
	}

	.footer .top .f_logo {
		margin-right: 80px;
	}

	.footer .top .family {}

	.foot-wrap {
		gap: 0px;
	}
}

@media (max-width: 1500px) {
	.w1500 {
		padding: 0 40px;
	}
}

@media (max-width: 1400px) {}

@media (max-width: 1200px) {

	.w1200,
	.w1500 {
		padding: 0 20px;
	}

	.header {
		height: 70px;
		align-items: center;
		justify-content: space-between;
		/* padding: 0 16px; */
		background-color: var(--color-white);
		backdrop-filter: none;
	}

	.header::before {
		height: 70px;
	}

	.header .gnb {
		display: none;
	}

	.header .header_ui {
		display: flex;
		width: auto;
	}

	.header .header_ui .m_btn {
		display: block;
		margin-left: 50px;
	}

	.header .logo {
		width: 200px;
	}

	.footer .top {
		flex-wrap: wrap;
		padding: 40px 16px;
	}

	.footer .top .f_logo {
		margin-right: 0;
		width: 180px;

	}

	.footer .top .addr {
		width: 100%;
	}

	.footer .top .family {
		height: 50px;
	}

	.footer .top .family ul {
		bottom: 54px;
	}

	.foot-wrap {
		flex-direction: column;
		gap: 10px;
		margin-bottom: 10px;
	}

	.footer .top .addr ul li {
		margin-right: 20px;
	}

	.header .header_ui .m_gnb>ul>li>a {
		padding: 30px 36px;
		font-size: 22px;
		text-transform: uppercase;
	}

	.header .header_ui .m_gnb>ul>li>ul {
		margin: 0;
	}

	.header .header_ui .m_gnb>ul>li>ul>li>a {
		padding: 8px 26px;
	}

}

@media (max-width: 1023px) {
	:root {
		--snb-height: 400px;
	}
}

@media (max-width:767px) {
	* {
		line-height: 1.3;
	}

	.footer .top .addr {}

	.footer .top .addr ul {
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	.footer .top .addr ul li:last-of-type {
		width: 100%;
		margin-top: 10px;
	}

	.footer .top .family {
		position: relative;
		bottom: 0;
		right: 0;
	}

	.sns-box {
		justify-content: flex-start;
		margin: 20px 0;
	}

	.header {
		padding: 0;
	}

	.header .header_ui .m_gnb>ul>li>a {
		padding: 30px 20px;
	}

}


@media (max-width: 640px) {}


@media (max-width:480px) {
	.header .logo {
		width: 170px;
	}

	.header .header_ui .m_btn {
		margin-left: 20px;
	}

	.header .header_ui .m_gnb>ul>li>ul>li>a {
		padding: 8px 16px;
	}

	.footer .top .f_logo {
		width: 160px;
	}

	.sns-box img {
		width: 30px;
	}

}