@charset "utf-8";
@import url(./font.css);



/* 공통영역 */
* {
	line-height: 1.2;
	letter-spacing: -1px;
	word-break: keep-all;
	box-sizing: border-box;
}

:root {
	--color-primary: #3B5C4D;
	--color-text: #333;
	--color-dark: #111;
	--color-subtext: #777;
	--color-white: #fff;
	--color-dimbg: rgba(0 0 0 / 25%);

	--base-font: 'Pretendard', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;
	--key-font: "Noto Serif", serif;
}


.w1200 {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.w1500 {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}

.w1600 {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

/* privacy */
.privacy {
	color: #777;
	width: 100%;
	overflow: hidden;
	padding: 20px;
	font-size: 15px;
	line-height: 140%;
	word-break: break-all;
}

.privacy h2 {
	font-size: 18px;
	font-weight: bold;
	color: #111;
	text-align: left;
	margin: 50px 0 30px;
}

.privacy h2:first-child {
	margin-top: 0;
}

.privacy>p {
	margin: 15px 0;
}

.privacy>p+dl {
	margin-top: 30px;
}

.privacy>dl {
	padding-bottom: 20px;
}

.privacy>dl>dt {
	font-size: 15px;
	color: #3B5C4D;
	font-weight: 700;
	padding-bottom: 5px;
}

.privacy>dl>dd {
	padding-bottom: 10px;
	text-align: justify;
	font-size: 15px;
	line-height: 140%;
}

.privacy>dl>dd ul {
	padding: 10px;
}

.privacy>dl>dd ul li {
	line-height: 120%;
	margin-top: 10px;
}

.privacy>dl>dd ul li:first-child {
	margin-top: 0;
}

.privacy>dl>dd ul li p {
	margin: 0 10px 5px;
	line-height: 140%;
}

.sTxt h3 {
	font-size: 16px;
	color: #333;
	font-weight: 700;
	margin: 20px 0 10px;
}

.sTxt p {
	margin-top: 10px;
}

.sTxt dt {
	margin-top: 10px;
}

.sTxt dd {
	margin: 0 8px;
}


.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
	padding: 0 100px;
	z-index: 500;
	background-color: #fff;
}

.header::after {
	content: '';
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #eee;
	opacity: 0.3;
	z-index: -1;
	opacity: 0;
}

.header::before,
.header .bg {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 379px;
	background: #fff;
	opacity: 0.8;
	z-index: -1;
}

.header::before {
	content: '';
	display: block;
	height: 95px;
	opacity: 0;
	transition: 0.4s
}

.header .logo {
	position: relative;
	/* width: 153px;
	height: 27px; */
	/* background: url(../images/common/logo.png) 50% 50% no-repeat; */
	z-index: 20;
}

.header .logo a {
	/* position: absolute; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}

.header .gnb {
	width: calc(100% - 263px);
}

.header .gnb>ul {
	display: flex;
	justify-content: flex-end;
}

.header .gnb>ul>li {
	position: relative;
}

.header .gnb>ul>li>a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	line-height: 95px;
	font-weight: 500;
	font-size: 18px;
	color: #333;
	padding: 0 46px;
	transition: 0.4s;
	font-family: "Noto Serif", serif;
}

.header .gnb>ul>li>a::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0;
	height: 4px;
	background: #3B5C4D;
	transition: 0.4s;
	transform: translateX(-50%);
}

.header .gnb>ul>li>ul {
	display: none;
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%;
	padding: 37px 0;
	z-index: 10;
	overflow: hidden;
	height: 284px;
}

.header .gnb>ul>li:first-of-type>ul::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 284px !important;
	background: #eee;
	opacity: 0.3;
}

.header .gnb>ul>li>ul::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 284px !important;
	background: #eee;
	opacity: 0.3;
}

.header .gnb>ul>li>ul>li {}

.header .gnb>ul>li>ul>li>a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
	color: #fff;
	opacity: 0.8;
	padding: 7px 0;
}

.header .gnb>ul>li>ul>li:hover>a {
	color: #3B5C4D;
	opacity: 1;
}

.header .header_ui {
	width: 110px;
}

.header .header_ui .lang {
	position: relative;
	z-index: 20;
}

.header .header_ui .lang>li {
	position: relative;
	cursor: pointer;
}

.header .header_ui .lang li img {
	vertical-align: middle;
	margin-right: 8px;
}

.header .header_ui .lang li span {
	display: inline-block;
	font-weight: 300;
	font-size: 12px;
	color: #fff;
	vertical-align: middle;
}

.header .header_ui .lang li span i {
	vertical-align: middle;
	font-size: 15px;
}

.header .header_ui .lang li ul {
	display: none;
	position: absolute;
	top: 36px;
	left: 0;
	background: #fff;
	width: 100%;
	border-radius: 5px;
	padding: 12px 0;
}

.header .header_ui .lang li ul li {}

.header .header_ui .lang li ul li a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: center;
	padding: 5px 0;
	font-size: 13px;
	color: #111;
	opacity: 0.7;
}

.header .header_ui .m_btn {
	display: none;
	position: relative;
	width: 27px;
	height: 27px;
	text-align: center;
	cursor: pointer;
	z-index: 100;
}

.header .header_ui .m_btn span {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 27px;
	height: 3px;
	background: #3B5C4D;
	margin-top: 12px;
	transition: 0.3s;
}

.header .header_ui .m_btn span::after {
	content: "";
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: -8px;
	left: 0;
	width: 27px;
	height: 3px;
	background: #3B5C4D;
	transition: 0.3s;
}

.header .header_ui .m_btn span::before {
	content: "";
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 8px;
	left: 0;
	width: 16px;
	height: 3px;
	background: #3B5C4D;
	transition: 0.3s;
}

.header .header_ui .m_gnb {
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	/* max-width: 640px; */
	height: 100%;
	background: #111000d6;
	background: #ffbfbfd6;
	background: #f6f6f6;
	transition: 0.6s;
	/* z-index: 99; */
}

.header .header_ui .m_gnb>ul {
	margin-top: 85px;
}

.header .header_ui .m_gnb>ul>li {}

.header .header_ui .m_gnb>ul>li>a {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	font-weight: 400;
	font-size: 28px;
	color: #777;
	padding: 18px 56px;
	position: relative;
	font-family: "Noto Serif", serif;
}

.header .header_ui .m_gnb>ul>li>a:after {
	content: '';
	z-index: 2;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10px;
	margin: auto;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-size: auto 100%;
	/* background-image: url("../images/common/gnb_off_arrow.svg"); */
	transform: rotate(90deg);
	transition: transform ease .15s;
}


.header .header_ui .m_gnb>ul>li>a.on {
	color: #3B5C4D;
	font-weight: 600;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.header .header_ui .m_gnb>ul>li>a.on:after {
	background-image: url("../images/common/gnb_on_arrow.svg");
	transform: rotate(-90deg);
	transform: rotate(-360deg);
}


.header .header_ui .m_gnb>ul>li>ul {
	display: none;
	margin: 5px 0 14px;
}

.header .header_ui .m_gnb>ul>li>ul>li {}

.header .header_ui .m_gnb>ul>li>ul>li>a {
	display: inline-block;
	width: 100%;
	vertical-align: top;
	padding: 8px 56px;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
}

.header .gnb>ul>li:hover>a::after {
	width: 100%;
}

.header .gnb>ul>li:hover>a {
	color: #3B5C4D;
	font-weight: 600;

}

.header.hover::after {
	opacity: 0.3;
}

.header.hover .gnb>ul>li>a {
	padding: 0 3.92vw;
}

.header.hover .gnb>ul>li:first-of-type>ul::before,
.header.hover .gnb>ul>li>ul::after {
	opacity: 0.3;
	height: 284px;
}

.header.scroll::before {
	opacity: 0.8;
}

.header.scroll .bg {
	top: 95px;
	height: 284px;
}

.header .header_ui .m_btn.on span {
	background: transparent;
}

.header .header_ui .m_btn.on span::before {
	width: 27px;
	top: 0;
	transform: rotate(45deg);
}

.header .header_ui .m_btn.on span::after {
	top: 0;
	transform: rotate(-45deg);
}

.header .header_ui .m_gnb.on {
	right: 0;
}


.footer {
	position: relative;
}

.footer .top_btn {
	position: fixed;
	bottom: 26px;
	right: 20px;
	width: 45px;
	height: 45px;
	text-align: center;
	border-radius: 50%;
	background: #3B5C4D;
	cursor: pointer;
	z-index: 999;

	opacity: 0;
	transition: .5s;
	-webkit-transition: .5s;
}

.footer .top_btn.show {
	opacity: 1;
}

.footer .top_btn img {
	margin: 15px 0;
}

.footer .top {
	position: relative;
	display: flex;
	padding: 90px 100px 74px;
	background: #3B5C4D;
}

.footer .top .f_logo {
	/* width: 235px;
	height: 40px;
	background: url(../images/common/f_logo.png) 50% 50% no-repeat;
	margin-right: 177px; */
}

.footer .top .addr {}

.footer .top .addr h3 {
	font-weight: 600;
	font-size: 20px;
	color: #111;
	margin-bottom: 20px;
}

.footer .top .addr ul {
	display: flex;
	margin-bottom: 10px;
}

.footer .top .addr ul:last-of-type {
	margin-bottom: 0;
}

.footer .top .addr ul li {
	font-weight: 200;
	font-size: 15px;
	color: #777;
	margin-right: 40px;
}

.footer .top .addr ul li:last-of-type {
	margin-right: 0;
}

.footer .top .family {
	position: absolute;
	bottom: 74px;
	right: 100px;
	width: 200px;
	height: 50px;
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	border-radius: 5px;
	margin-top: 37px;
}

.footer .top .family p {
	font-weight: 500;
	font-size: 15px;
	letter-spacing: 1.5px;
	color: #111;
	line-height: 48px;
	padding-left: 38px;
	cursor: pointer;
}

.footer .top .family p span {
	position: absolute;
	top: 50%;
	right: 28px;
	transform: translateY(-50%);
	color: #3B5C4D;
}

.footer .top .family ul {
	display: none;
	position: absolute;
	bottom: 54px;
	left: 0;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #e0e0e0;
	background: #f5f5f5;
	padding: 10px 0;
}

.footer .top .family ul li {}

.footer .top .family ul li a {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	color: #111;
	font-size: 15px;
	padding: 4px 16px;
}

.footer .copy {
	background: #111111;
	text-align: center;
}

.footer .copy p {
	font-weight: 200;
	font-size: 14px;
	color: #fff;
	letter-spacing: 3px;
	line-height: 80px;
	opacity: 0.5;
}

@media (max-width: 1600px) {
	.w1600 {
		padding: 0 40px;
	}

	.header {
		padding: 0 40px;
	}

	.header .gnb>ul>li>a {
		padding: 0 30px;
	}

	.footer .top {
		padding: 90px 40px 74px;
	}

	.footer .top .f_logo {
		margin-right: 80px;
	}

	.footer .top .family {
		right: 40px;
		z-index: 20;
	}
}

@media (max-width: 1500px) {
	.w1500 {
		padding: 0 40px;
	}
}

@media (max-width: 1400px) {
	.header.hover .gnb>ul>li>a {
		padding: 0 3vw;
	}
}

@media (max-width: 1200px) {

	.w1200,
	.w1500 {
		padding: 0 16px;
	}

	.header {
		height: 70px;
		align-items: center;
		justify-content: space-between;
		padding: 0 16px;
	}

	.header::before {
		height: 70px;
	}

	.header .gnb {
		display: none;
	}

	.header .header_ui {
		display: flex;
		width: auto;
	}

	.header .header_ui .m_btn {
		display: block;
		margin-left: 50px;
	}

	.header .logo {
		width: 180px;
	}

	.footer .top {
		flex-wrap: wrap;
		padding: 60px 16px 40px;
	}

	.footer .top .f_logo {
		margin-right: 0
	}

	.footer .top .addr {
		width: 100%;
		margin-top: 30px;
	}

	.footer .top .family {
		right: 16px;
		bottom: 40px;
	}

	.header .header_ui .m_gnb>ul>li>a {
		padding: 30px 20px;
		font-size: 22px;
		text-transform: uppercase;
	}

	.header .header_ui .m_gnb>ul>li>ul {
		margin: 0;
	}

	.header .header_ui .m_gnb>ul>li>ul>li>a {
		padding: 8px 26px;
	}


}

@media (max-width:800px) {

	.footer .top .addr {}

	.footer .top .addr ul {
		flex-wrap: wrap;
	}

	.footer .top .addr ul li:last-of-type {
		width: 100%;
		margin-top: 10px;
	}

	.footer .top .family {
		position: relative;
		bottom: 0;
		right: 0;
		margin-top: 20px;
	}



}

@media (max-width:500px) {
	.header .header_ui .m_btn {
		margin-left: 20px;
	}

	.header .header_ui .m_gnb>ul>li>a {
		padding: 20px 16px;
	}

	.header .header_ui .m_gnb>ul>li>ul>li>a {
		padding: 8px 16px;
	}
}