@charset "utf-8";

/***** 공통 영역 *****/

#main {
	margin-top: 95px;
	background-color: var(--color-white);
}

.m_tit {}

.m_tit h2 {
	font-size: 80px;
	font-family: var(--key-font);
	color: var(--color-white);
	letter-spacing: 0;
}

.m_tit h2 em {
	padding: 0 10px;
}

.m_tit h3 {
	font-size: 50px;
	font-family: var(--key-font);
	color: var(--color-white);
	margin-top: 30px;
}

.m_tit h4 {
	font-size: 30px;
	font-family: var(--key-font);
	color: var(--color-white);
	/* margin-top: 30px; */
}

.m_tit h5 {
	font-size: 24px;
	font-family: var(--key-font);
	color: var(--color-white);
	margin-top: 30px;
}

.m_tit h6 {
	font-size: 18px;
	font-family: var(--key-font);
	color: var(--color-white);
	margin-top: 30px;
}

.m_tit.b h2 {
	color: var(--color-dark);
}

.m_tit.b h3 {
	color: var(--color-dark);
}

.m_tit.b h4 {
	color: var(--color-dark);
}

.m_tit.b h5 {
	color: var(--color-dark);
}

.m_tit.b h6 {
	color: var(--color-dark);
}

.m_tit p {
	font-weight: 300;
	font-size: 22px;
	color: var(--color-white);
	margin-top: 35px;
	letter-spacing: 0;
}

.m_tit.b p {
	color: var(--color-subtext);
}

.m_tit.tac {
	text-align: center;
}

a.cta,
.cta {
	font-size: 18px;
	color: var(--color-dark);
	border: 1px solid var(--color-text);
	padding: 12px 20px;
	width: fit-content;
	margin: 40px auto 0;
	position: relative;
	overflow: hidden;
	display: inline-block;
	transition: background var(--transition-3s), color var(--transition-3s);
}

a.cta:hover,
.cta:hover {
	color: var(--color-primary);
	border-color: var(--color-primary);
}

a.cta:hover .line-wrap,
.cta:hover .line-wrap {
	transform: translateX(0);
}

.line-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 300%;
	transition: var(--transition-10s);
	transform: translateX(-100%);
	display: inline-block;
	vertical-align: middle;
}

.line-wrap .line {
	width: 33.3333%;
	height: 3px;
	display: block;
	float: left;
	background-color: var(--color-primary);
}

.line-wrap .line:nth-of-type(1) {
	margin-right: 33.3333%;
}

.quick {
	position: fixed;
	top: 200px;
	right: 30px;
	z-index: 50;
}

.quick li {
	margin-bottom: 10px;
}

.quick li:last-of-type {
	margin-bottom: 0;
}

.quick li a {
	display: inline-block;
	vertical-align: top;
}

.quick li a img {
	box-shadow: 1px 2px 7px 1px var(--color-dimbg);
	border-radius: 50%;
}



/****** 1. 메인 비주얼 영역 ******/

.mv-sec {
	position: relative;
	width: 100%;
	height: calc(100vh - 95px);
	/* height: 100vh; */
	/* height: calc(var(--vh, 1vh) * 100); */
	/* margin-top: 95px; */
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}

.mv-sec .slide_wrap {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mv_slide_ctn {
	width: 100%;
	height: 100%;
}

.mv-sec .slide_wrap .mv_slide_ctn .item .bg {
	position: relative;
	width: 100%;
	height: 100vh;
	background-size: cover !important;
}

.mv-sec .slide_wrap .mv_slide_ctn .item .bg::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-dimbg);
	z-index: 1;
}

.mv-sec .slide_wrap .mv_slide_ctn .item .bg02 {
	background: url(../images/main/mv02.jpg) 50% 50% no-repeat;
}

.mv-sec .slide_wrap .mv_slide_ctn .item .bg03 {
	background: url(../images/main/mv03.jpg) 50% 50% no-repeat;
}

.mv-sec .slide_wrap .mv_slide_ctn .item .bg04 {
	background: url(../images/main/mv04.jpg) 50% 50% no-repeat;
}

.mv-sec .slide_wrap .mv_slide_ui {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 1500px;
	transform: translate(-50%, -50%);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-items: flex-start;
	pointer-events: none;
	z-index: 10;
	gap: 80px;
}

.mv-sec .slide_wrap .mv_slide_ui .m_tit {
	/* text-align: center; */
	/* flex: 1; */
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeUp 1s both;
}

@keyframes fadeUp {
	0% {
		transform: translateY(120px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.mv-sec .slide_wrap .mv_slide_ctn .item.slick-active .bg01 {
	animation: fadeBg 2s both;
}

@keyframes fadeBg {
	0% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

.mv-sec .slide_wrap .mv_slide_ctn .item.slick-active .bg02,
.mv-sec .slide_wrap .mv_slide_ctn .item.slick-active .bg03,
.mv-sec .slide_wrap .mv_slide_ctn .item.slick-active .bg04 {
	animation: zoom 2s both;
}

@keyframes zoom {
	0% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}

.slide_txt h2 {
	font-weight: 800;
}


/* 추가된 내용 */
.bars_container {
	display: flex;
	gap: 10px;
}

.progress_ctn {
	/* position: absolute; */
	bottom: 40px;
	left: 50%;
	/* transform: translateX(-50%); */
	display: flex;
	align-items: center;
	gap: 20px;
	pointer-events: all;
}

.progress_bar {
	width: 60px;
	height: 4px;
	background-color: rgba(255 255 255/ 30%);
	border-radius: 2px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	transition: transform 0.2s;
}

.progress_bar:hover {
	transform: scaleY(1);
}

.progress_bar_fill {
	width: 0%;
	height: 100%;
	background-color: var(--color-white);
	transition: width 0.1s linear;
}

.progress_bar.active .progress_bar_fill {
	animation: progress linear;
}

@keyframes progress {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.play_btn {
	width: 32px;
	height: 32px;
	background-color: rgba(255 255 255 /20%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background 0.3s;
	backdrop-filter: blur(10px);
}

.play_btn:hover {
	background-color: rgba(255 255 255 / 30%);
}


.stop {
	width: 10px;
	height: 10px;
	background-color: var(--color-white);
	position: relative;
}

.stop::before,
.stop::after {
	/* content: '';
	position: absolute;
	width: 4px;
	height: 12px;
	background-color: var(--color-white);
	top: 0; */
}

.stop::before {
	left: 0;
}

.stop::after {
	right: 0;
}

.play_btn.playing .stop {
	background-color: transparent;
}

.play_btn.playing .stop::before,
.play_btn.playing .stop::after {
	display: none;
}

.play_btn.playing .stop {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent var(--color-white);
	background-color: transparent;
}


/* 영상깜박임 수정 */





/****** 2. 어바웃 영역 chair ******/

.m-about-sec {
	padding-top: 150px;
	overflow: hidden;
}

.m-about-sec .slide_wrap {
	position: relative;
	margin-top: 36px;
	/* display: none; */
}

.m-about-sec .slide_wrap .slide_ctn {}

.m-about-sec .slide_wrap .slide_ctn .slick-track {
	left: 19.8vw;
}

.m-about-sec .slide_wrap .slide_ctn .item {
	position: relative;
	width: 100%;
	max-width: 740px;
	overflow: hidden;
	padding-top: 106px;
	transition: var(--transition-10s);
	margin: 0 20px;
}

.m-about-sec .slide_wrap .slide_ctn .item a {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.m-about-sec .slide_wrap .slide_ctn .item .img_box {
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.m-about-sec .slide_wrap .slide_ctn .item .img_box::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-dimbg);
}

.m-about-sec .slide_wrap .slide_ctn .item .img_box figure {}

.m-about-sec .slide_wrap .slide_ctn .item .img_box figure img {}

.m-about-sec .slide_wrap .slide_ctn .item .img_box h3:not(.on) {
	position: absolute;
	bottom: 30px;
	left: 40px;
	font-family: var(--key-font);
	font-size: 45px;
	color: var(--color-white);
	letter-spacing: 0;
	line-height: 1.1;
	transition: var(--transition-10s);
}

.m-about-sec .slide_wrap .slide_ctn .item .img_box .on {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-family: var(--key-font);
	font-size: 80px;
	color: var(--color-white);
	letter-spacing: 0;
	text-align: right;
	line-height: 1.1;
	transform: translateX(105%);
	transition: var(--transition-10s);
}

.m-about-sec .slide_wrap .slide_ctn .item .down_txt {
	position: relative;
	transform: translateY(-100%);
	padding: 40px 50px 0;
	z-index: -1;
	transition: var(--transition-10s);
}

.m-about-sec .slide_wrap .slide_ctn .item .down_txt h4 {
	font-weight: 800;
	font-size: 30px;
	color: var(--color-dark);
	margin-bottom: 10px;
	font-family: var(--key-font);
}

.m-about-sec .slide_wrap .slide_ctn .item .down_txt p {
	font-weight: 300;
	font-size: 18px;
	color: var(--color-dark);
}

.m-about-sec .slide_wrap .slide_btn {
	position: absolute;
	top: -102px;
	right: 102px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 215px;
	height: 221px;
	border-radius: 50%;
	z-index: 10;
}

.m-about-sec .slide_wrap .slide_btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../images/main/icon_txt_btn_n.png) 50% 50% no-repeat;
	z-index: -1;
	animation: rotate 18s linear infinite;
}

.m-about-sec .slide_wrap .slide_btn>div {
	width: 10px;
	height: 11px;
	background: url(../images/main/icon_txt_btn_arrow01.png) 50% 50% no-repeat;
	padding: 15px;
	cursor: pointer;
}

.m-about-sec .slide_wrap .slide_btn>.next {
	background: url(../images/main/icon_txt_btn_arrow02.png) 50% 50% no-repeat;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.m-about-sec .slide_wrap .slide_ctn .item.slick_now {
	padding-top: 0;
}

.m-about-sec .slide_wrap .slide_ctn .item.slick_now .img_box h3:not(.on) {
	transform: translateY(140%)
}

.m-about-sec .slide_wrap .slide_ctn .item.slick_now .img_box .on {
	transform: translateX(0)
}

.m-about-sec .slide_wrap .slide_ctn .item.slick_now .down_txt {
	transform: translateY(0);
}

.m-about-sec .m_tit p {
	margin-top: 0px;
}




/****** 3. 글자롤링 영역 text-slide ******/
.m-flow-sec {
	padding: 20px 0 70px;
	/* display: none; */
}

.m-flow-sec .text-slide {
	display: flex;
	overflow: hidden;
}

.m-flow-sec .text-slide h3 {
	font-family: var(--baseFont2);
	font-size: 160px;
	font-weight: 900;
	color: var(--color-white);
	white-space: nowrap;
	/* text-shadow: -1px 0px rgba(159 159 159 / 70%),
                0px 1px rgba(159 159 159 / 70%),
                1px 0px rgba(159 159 159 / 70%),
                0px -1px rgba(159 159 159 / 70%); */

	text-shadow: -2px 0px #A7CBB7,
		0px 2px #A7CBB7,
		2px 0px #A7CBB7,
		0px -2px #A7CBB7;
}

.m-flow-sec .text-slide h3 span {
	font-family: var(--baseFont2);
	font-size: 80px;
	font-weight: 900;
}

.m-flow-sec .text-slide h3.origin {
	animation: 120s linear 0s infinite normal forwards running origin_left;
}

.m-flow-sec .text-slide h3.clone {
	animation: 120s linear 0s infinite normal none running clone_left;
}

@keyframes origin_left {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-100%);
	}

	50.01% {
		transform: translateX(100%)
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes clone_left {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-200%)
	}
}



/****** 4. 브랜드 영역 영상 brand ******/
.m-brand-sec {
	/* background: url(../images/main/brand01.jpg) 50% 50% no-repeat; */
	/* background-size: cover; */
	padding: 150px 0;
	/* background-attachment: fixed; */
	height: 100vh;
	height: 100%;
	min-height: 900px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	/* display: none; */
}

.m-brand-sec:before {}

.m-brand-sec video {
	position: absolute;
	top: 0;
	left: 0;
}

.m-brand-sec .video-item {
	/* display: none; */
}

.m-brand-sec .video-item::before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-dimbg);
	z-index: 1;
}

.m-brand-sec .m_tit {
	position: relative;
	z-index: 2;
}

.m-brand-sec h4 {
	margin-top: 10px;
}

.m-brand-sec .m_tit p {
	font-weight: 200;
}

.m-brand-sec .cont .link {
	text-align: center;
	margin: 70px 0 90px;
}

.m-brand-sec .cont .link a {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-family: var(--key-font);
	font-size: 14px;
	letter-spacing: 3px;
	color: var(--color-white);
	text-transform: uppercase;
}

.m-brand-sec .cont .link a::after {
	content: "";
	position: absolute;
	bottom: -9px;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: var(--color-white);
}

.m-brand-sec .cont .list {
	display: flex;
}

.m-brand-sec .cont .list .item {
	width: 33.33%;
	text-align: center;
}

.m-brand-sec .cont .list .item .txt h3 {
	font-weight: 600;
	font-size: 30px;
	color: var(--color-white);
	margin: 35px 0 24px;
}

.m-brand-sec .cont .list .item .txt p {
	font-weight: 200;
	font-size: 16px;
	color: var(--color-white);
}


/****** 5. 인스타 롤링 insta ******/
.m-insta-sec {
	width: 100%;
	height: 100%;
	min-height: 700px;
	display: flex;
	align-items: center;
}

.loop-container {
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 150px 0;
}

.instawrap {
	display: flex;
	gap: 20px;
	align-items: center;
	width: max-content;
	animation: scroll-full 60s linear infinite;
}

@keyframes scroll-full {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-50%);
	}
}

.insta-img {
	min-width: 300px;
	height: 300px;
	border-radius: 12px;
	background-size: cover;
	background-position: center;
	box-shadow: 0 4px 6px var(--color-dimbg);
	transition: transform var(--transition-3s);
	cursor: pointer;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
}

.insta-img::before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--color-dimbg);
	opacity: 0;
	transition: opacity var(--transition-3s);
}

.insta-img::after {
	content: '📷 Instagram';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--color-white);
	font-size: 18px;
	font-weight: 600;
	opacity: 0;
	transition: opacity var(--transition-3s);
	z-index: 1;
}

.insta-img:hover::before,
.insta-img:hover::after {
	opacity: 1;
}

/* 개별 이미지 위치 */
.in-1 {
	background-image: url('../images/main/insta01.jpg');
	transform: translateY(-30px);
}

.in-2 {
	background-image: url('../images/main/insta02.jpg');
	transform: translateY(40px);
}

.in-3 {
	background-image: url('../images/main/insta03.jpg');
	transform: translateY(-15px);
}

.in-4 {
	background-image: url('../images/main/insta04.jpg');
	transform: translateY(25px);
}

.in-5 {
	background-image: url('../images/main/insta05.jpg');
	transform: translateY(-40px);
}

.in-6 {
	background-image: url('../images/main/insta06.jpg');
	transform: translateY(-40px);
}

/* 롤링 hover 시 멈춤 */
.insta-cta-wrap:hover~.instawrap {
	/* animation-play-state: paused; */
}

.loop-container a:hover .instawrap {
	/* animation-play-state: paused; */
}

.insta-cta-wrap {
	position: absolute;
	/* 기본: loop-container 기준 */
	inset: 0;
	background-color: rgba(255 255 255 /25%);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	opacity: 1;
	transition: opacity var(--transition-3s);
	z-index: 10;
	/* display: none; */
}

/* 인스타그램 cta 버튼 */
.insta-cta-wrap a {}

.insta-cta-wrap a:hover {
	/* background-color: var(--color-dark);
	color: var(--white-dark); */
}

.insta-cta-wrap.m_tit.b a h4 {}

.insta-cta-wrap.m_tit.b a h5:nth-of-type(1) {
	color: var(--color-primary);
	margin-top: 15px;
	font-weight: 600;
}

.insta-cta-wrap.m_tit.b a h5:nth-of-type(2) {}

.m-insta-sec .cta {
	background-color: var(--color-lightbg);
}


/* 전체 오버레이 */
.overlay {
	position: absolute;
	/* 기본: loop-container 기준 */
	inset: 0;
	background-color: var(--color-lightbg);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity var(--transition-3s);
	z-index: 10;
	display: none;
}

.overlay a {
	padding: 14px 28px;
	background-color: var(--white-dark);
	color: var(--color-dark);
	font-weight: 600;
	text-decoration: none;
	border-radius: 8px;
	font-size: 18px;
	transition: background var(--transition-3s), color var(--transition-3s);
}

.overlay a:hover {
	background-color: var(--color-dark);
	color: var(--white-dark);
}

.loop-container:hover .overlay {
	opacity: 1;
}



/****** 6. 컨택트 어스 영역 brand ******/
.m-contanct-sec {
	width: 100%;
	height: 100%;
	min-height: 700px;
	display: flex;
	align-items: center;
	position: relative;
	background-color: var(--color-beigebg);
	/* display: none; */
}

.m-contanct-sec .box {
	width: 50%;
	height: 100%;
}

.m-contanct-sec .txt-box {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.m-contanct-sec .img-box {
	position: absolute;
	top: 0;
	right: 0;
}

.m-contanct-sec .img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.m-contanct-sec .m_tit p {
	margin-top: 15px;
}


/****** 7. 뉴스 영역 news ******/

.m-news-sec {
	padding: 200px 0 170px;
}

.m-news-sec .cont {
	margin-top: -43px;
}

.m-news-sec .cont .tab {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-bottom: 38px;
	z-index: 10;
}

.m-news-sec .cont .tab::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 150px;
}

.m-news-sec .cont .tab li {
	position: relative;
	font-family: var(--key-font);
	font-size: 30px;
	color: var(--color-dark);
	margin-right: 46px;
	cursor: pointer;
	z-index: 5;
}

.m-news-sec .cont .tab li.on {
	color: var(--color-primary);
}

.m-news-sec .cont .tab li::after {
	content: "";
	position: absolute;
	top: 14px;
	right: -26px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: var(--color-dark);
}

.m-news-sec .cont .tab li:last-of-type {
	margin-right: 15px;
}

.m-news-sec .cont .tab li:last-of-type::after {
	display: none;
}

.m-news-sec .cont .list {
	border-top: 1px solid #111111;
}

.m-news-sec .cont .list .item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 68px 0 50px;
	border-bottom: 1px solid var(--color-border);
}

.m-news-sec .cont .list .item a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.m-news-sec .cont .list .item::after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 0%;
	height: 1px;
	background-color: var(--color-primary);
	transition: var(--transition-5s);
}

.m-news-sec .cont .list .item .tit {
	width: 212px;
	padding-left: 30px;
}

.m-news-sec .cont .list .item .tit h3 {
	font-family: var(--key-font);
	font-size: 18px;
	color: var(--color-primary);
	text-transform: uppercase;
}

.m-news-sec .cont .list .item .txt {
	width: calc(74% - 212px);
}

.m-news-sec .cont .list .item .txt h4 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px;
	color: var(--color-dark);
	margin-bottom: 32px;
}

.m-news-sec .cont .list .item .txt p.date {
	font-weight: 300;
	font-size: 15px;
	color: var(--color-subtext);
	vertical-align: middle;
}

.m-news-sec .cont .list .item .txt p.date i {
	margin-right: 6px;
}

.m-news-sec .cont .list .item .position_img {
	position: absolute;
	bottom: 17px;
	right: -110px;
	opacity: 0;
	transition: var(--transition-3s);
}

.m-news-sec .cont .list .item .position_img img {
	box-shadow: 11px 21px 49px 0px var(--color-dimbg);
	border-radius: 30px
}

.m-news-sec .cont .tab.on {
	z-index: 0;
}

.m-news-sec .cont .list .item:hover .position_img {
	opacity: 1;
}

.m-news-sec .cont .list .item:hover::after {
	width: 100%;
}

.intro {
	/* position: fixed;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: var(--color-primary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	-webkit-animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1);
	-moz-animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1);
	-ms-animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1);
	-o-animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1);
	animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1); */
	/* display: none; */
}

/* 인트로 중 스크롤바 숨김 */
body.intro-active {
	overflow: hidden;
}

/* 기존 .intro 클래스를 이렇게 수정 */
.intro {
	position: fixed;
	overflow: hidden;
	width: 100vw;
	/* 100%에서 100vw로 변경 */
	height: 100vh;
	height: 100%;
	background-color: var(--color-primary);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	animation: introBg 4.6s cubic-bezier(1, 0, 0.8, 1);
	display: block;

	/* 추가_251208 */
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 추가: 인트로가 표시될 때 body 스크롤 제거 */
body:has(.intro[style*="display: block"]) {
	overflow: hidden;
}

.intro .first {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* 추가_251208 */
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro .first img {
	opacity: 0;
	/* -webkit-animation: logoBounce 3.7s ease;
	-moz-animation: logoBounce 3.7s ease;
	-ms-animation: logoBounce 3.7s ease;
	-o-animation: logoBounce 3.7s ease; */
	animation: logoBounce 3s ease;
	/* 추가_251208 */
	animation: logoBounce 3s ease forwards;
}

@keyframes introBg {
	0% {
		z-index: 1000;
		transform: translateY(-95px);
	}

	80% {
		z-index: 1000;
		transform: translateY(-95px);
	}

	99% {
		z-index: 1000;
	}

	100% {
		z-index: -1px;
		transform: translateY(-100%);
	}
}

@keyframes logoBounce {
	0% {
		opacity: 0;
		transform: translateY(-40px);
	}

	30% {
		opacity: 1;
		transform: translateY(10px);
	}

	50% {
		opacity: 1;
		transform: translateY(0px);
	}

	60% {
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(0);
	}
}

/* @-webkit-keyframes introBg {
	0% {
		z-index: 1000;
		transform: translateY(0%);
	}

	80% {
		z-index: 1000;
		transform: translateY(0%);
	}

	99% {
		z-index: 1000;
	}

	100% {
		z-index: -1px;
		transform: translateY(-100%);
	}
}

@-moz-keyframes introBg {
	0% {
		z-index: 1000;
		transform: translateY(0%);
	}

	80% {
		z-index: 1000;
		transform: translateY(0%);
	}

	99% {
		z-index: 1000;
	}

	100% {
		z-index: -1px;
		transform: translateY(-100%);
	}
}

@-ms-keyframes introBg {
	0% {
		z-index: 1000;
		transform: translateY(0%);
	}

	80% {
		z-index: 1000;
		transform: translateY(0%);
	}

	99% {
		z-index: 1000;
	}

	100% {
		z-index: -1px;
		transform: translateY(-100%);
	}
}

@-o-keyframes introBg {
	0% {
		z-index: 1000;
		transform: translateY(0%);
	}

	80% {
		z-index: 1000;
		transform: translateY(0%);
	}

	99% {
		z-index: 1000;
	}

	100% {
		z-index: -1px;
		transform: translateY(-100%);
	}
} */



/* @-webkit-keyframes logoBounce {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	30% {
		opacity: 1;
		transform: translateY(20px);
	}

	50% {
		opacity: 1;
		transform: translateY(-10px);
	}

	60% {
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes logoBounce {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	30% {
		opacity: 1;
		transform: translateY(20px);
	}

	50% {
		opacity: 1;
		transform: translateY(-10px);
	}

	60% {
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
	}
}

@-ms-keyframes logoBounce {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	30% {
		opacity: 1;
		transform: translateY(20px);
	}

	50% {
		opacity: 1;
		transform: translateY(-10px);
	}

	60% {
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
	}
}

@-o-keyframes logoBounce {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	30% {
		opacity: 1;
		transform: translateY(20px);
	}

	50% {
		opacity: 1;
		transform: translateY(-10px);
	}

	60% {
		opacity: 1;
		transform: translateY(0);
	}

	70% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
	}
} */





/****** 반응형 브레이크 포인트 (모바일 반응형)******/

@media (max-width: 1700px) {
	.m-about-sec .slide_wrap .slide_ctn .slick-track {
		left: 22vw;
	}

	.m-news-sec .cont .list .item .position_img {
		right: 0;
	}

}

@media (max-width: 1500px) {
	.mv-sec .slide_wrap .mv_slide_ui {
		padding: 0 40px;
	}

	.m-about-sec .slide_wrap .slide_ctn .slick-track {
		left: 16vw;
	}

	.m-about-sec .slide_wrap .slide_ctn .item {
		max-width: 500px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .img_box h3:not(.on) {
		font-size: 30px;
		left: 16px;
		bottom: 10px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .img_box .on {
		font-size: 60px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .down_txt {
		padding: 20px 16px 0;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .down_txt h4 {
		font-size: 24px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .down_txt {
		transform: translateY(-110%)
	}

	.m-about-sec .slide_wrap .slide_btn {
		top: -67px;
		right: 12vw;
	}

	.m-about-sec .slide_wrap .slide_btn {
		width: 120px;
		height: 120px;
	}

	.m-about-sec .slide_wrap .slide_btn::before {
		background-size: cover;
	}
}


@media (max-width: 1200px) {
	.mv-sec {
		/* fallback */
		height: calc(var(--vh, 1vh) * 100 - 70px);
		height: calc(100dvh - 70px);
		height: 100%;
	}

	.m_tit h2 {
		font-size: 60px;
	}

	.m_tit h3 {
		font-size: 45px;
	}

	.m_tit h4 {
		font-size: 26px;
	}

	.m_tit h5 {
		font-size: 20px;
	}

	.m_tit h6 {
		font-size: 16px;
	}

	.m_tit p {
		font-size: 18px;
	}

	.quick {
		right: 0;
		top: 60px;
		transform: scale(0.8);
	}

	#main {
		margin-top: 70px;
		margin-top: 0px;
	}

	.mv-sec .slide_wrap .mv_slide_ui {
		padding: 0 16px;
	}

	.slide_txt h4 {
		margin-top: 10px;
	}

	.m-about-sec {
		padding-top: 100px;
	}

	.m-brand-sec {
		padding: 100px 0;
		background-position: 30% 50%;
	}

	.m-brand-sec .cont .link {
		margin: 30px 0 40px;
	}

	.insta-img {
		min-width: 250px;
		height: 250px;
	}

	.m-news-sec {
		padding: 100px 0;
	}

	.m-news-sec .cont {
		margin-top: -37px;
	}

	.m-news-sec .cont .list .item {
		padding: 30px 0 30px;
	}

	.m-news-sec .cont .list .item .tit {
		width: 160px;
	}

	.m-news-sec .cont .list .item .txt {
		width: calc(100% - 160px);
	}

	.m-news-sec .cont .list .item .txt h4 {
		font-size: 24px;
		margin-bottom: 16px;
	}

	.m-news-sec .cont .list .item .position_img {
		text-align: right;
	}

	.m-news-sec .cont .list .item .position_img img {
		max-width: 70%;
	}

	@keyframes introBg {
		0% {
			z-index: 1000;
			transform: translateY(-70px);
			transform: translateY(0px);
		}

		80% {
			z-index: 1000;
			transform: translateY(-70px);
			transform: translateY(0px);
		}

		99% {
			z-index: 1000;
		}

		100% {
			z-index: -1px;
			transform: translateY(-100%);
		}
	}

}


@media (max-width: 1023px) {
	.m_tit p br {
		/* display: none; */
	}

	.m-about-sec {
		padding-top: 50px;
	}

	.m-about-sec .slide_wrap {
		margin-top: 60px;
	}

	.m-about-sec .slide_wrap .slide_btn {
		right: 16px;
		top: -21px;
	}

	.m-about-sec .slide_wrap .slide_ctn .slick-track {
		left: 0;
	}

	.m-brand-sec {
		padding: 80px 0;
	}

	.m-brand-sec .cont .list {
		flex-wrap: wrap;
	}

	.m-brand-sec .cont .list .item {
		width: calc(50% - 10px);
		margin-right: 20px;
		margin-bottom: 40px;
	}

	.m-brand-sec .cont .list .item:nth-of-type(2n) {
		margin-right: 0;
	}

	.m-brand-sec .cont .list .item:last-of-type {
		margin-bottom: 0;
	}

	.m-brand-sec .cont .list .item .txt p br {
		display: none;
	}

	c {}

	.m-news-sec {
		padding: 80px 0;
	}

	.m-news-sec .cont .list .item {
		flex-wrap: wrap;
	}

	.m-news-sec .cont .list .item .tit {
		width: 100%;
		padding-left: 0;
		margin-bottom: 16px;
	}

	.m-news-sec .cont .list .item .txt {
		width: 100%;
	}

	.m-news-sec .cont .list .item .txt h4 {
		margin-bottom: 10px;
	}

	.m-news-sec .cont .list .item .position_img {
		display: none;
	}

	.m-flow-sec {
		padding: 0 0 40px;
		margin-top: -50px;
	}

	.m-flow-sec .text-slide h3 {
		font-size: 120px;
	}

	.m-flow-sec .text-slide h3 span {
		font-size: 70px;
	}

}


@media (max-width: 767px) {
	.m_tit h2 {
		font-size: 45px;
	}

	.m_tit h2 em {
		padding: 0;
		display: none;
	}

	.m_tit h3 {
		font-size: 35px;
	}

	.m_tit h4 {
		font-size: 20px;
	}

	a.cta,
	.cta {
		margin-top: 20px;
		font-size: 16px;
	}

	.mv-sec .slide_wrap .mv_slide_ui {
		gap: 40px;
	}

	.progress_bar {
		width: 40px;
	}

	.progress_ctn {
		bottom: 30px;
	}

	.bars_container {
		gap: 8px;
	}

	.m-about-sec .m_tit p {
		margin-top: 10px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item {
		max-width: 420px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item .img_box .on {
		font-size: 45px;
	}

	.m-about-sec .slide_wrap .slide_btn {
		right: 0;
		top: -60px;
	}

	.m-brand-sec .cont .list .item {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.m-brand-sec .cont .list .item .txt h3 {
		font-size: 24px;
		margin: 20px 0 14px;
	}

	.m-news-sec .cont {
		margin-top: 20px;
	}

	.m-news-sec .cont .tab {
		padding-bottom: 10px;
	}

	.m-news-sec .cont .tab li {
		font-size: 26px;
	}

	.m-news-sec .cont .tab li::after {
		top: 11px;
		right: -29px;
	}

	.m-insta-sec {
		min-height: auto;
		padding: 20px 0;
	}

	.m-contanct-sec {
		min-height: auto;
		padding: 40px 0;
	}

	.m-contanct-sec .box {
		width: 100%;
	}

	.m-contanct-sec .img-box {
		position: static;
		padding: 60px;
	}

	.m-flow-sec .text-slide h3 {
		font-size: 80px;
	}

	.m-flow-sec .text-slide h3 span {
		font-size: 50px;
	}

	.insta-img {
		min-width: 220px;
		height: 220px;
		border-radius: 8px;
	}

	.instawrap {
		gap: 15px;
	}

	.loop-container {
		padding: 100px 0;
	}

}

@media (max-width: 640px) {
	.intro .first img {
		max-width: 270px;
	}

	@keyframes logoBounce {
		0% {
			opacity: 0;
			/* transform: translateY(-50px); */
			transform: translateY(-50%);
		}

		30% {
			opacity: 1;
			/* transform: translateY(20px); */
		}

		50% {
			opacity: 1;
			/* transform: translateY(-10px); */
		}

		60% {
			opacity: 1;
			transform: translateY(0);
		}

		70% {
			opacity: 1;
			transform: translateY(0);
		}

		100% {
			opacity: 0;
		}
	}

}



/* 작은 모바일 */
@media (max-width: 480px) {

	.progress_ctn {
		bottom: 20px;
		gap: 15px;
	}

	.stop {
		width: 10px;
		height: 10px;
	}

	.stop::before,
	.stop::after {
		width: 3px;
		height: 10px;
	}

	.play_btn.playing .stop {
		border-width: 5px 0 5px 8px;
	}

	.m-about-sec .slide_wrap .slide_ctn .item {
		max-width: 380px;
	}


	.m-contanct-sec .img-box {
		padding: 40px;
	}

	.insta-img {
		min-width: 200px;
		height: 200px;
		border-radius: 6px;
	}

}